* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  background-color: red;
  color: white;
  padding: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin-bottom: 1rem;
}

.primeiro {
  margin-top: 1.7rem;
  margin-bottom: 0.8rem;
}

main {
  background-color: rgb(221, 217, 217);
  padding: 0.4rem;
}

section {
  background-color: white;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.6rem;
  border: 0.2rem solid white;
}

.back a img {
  background-color: white;
}

div .prato {
  line-height: 2rem;
  width: 13rem;
}

.image img {
  width: 15rem;
  height: 8rem;
  border-radius: 0.5rem;
}

div.button {
  background-color: red;
  padding: 0.8rem;
  text-align: center;
}

div button {
  width: 14rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  font-size: 12pt;
}

div button:hover {
  background-color: #ccc;
  transition: 0.5s;
}

@media (max-width: 430px) {
  section {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width:315px) {
  .logo p {
    width: 10rem;
  }
}